* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand h1 {
    font-size: 40px;
    font-weight: 700;
}


.background-image {
    background-image: url('./background.png');
    height: 160vh;
    background-repeat: no-repeat;
    background-position: center;
}